<template>
    <div class="post-preview">
        <a v-bind:href="slug">
            <h2 class="post-title">
                {{title}}
            </h2>
            <h3 class="post-subtitle">
                {{subtitle}}
            </h3>
        </a>
        <p class="post-meta">Posted by
            <a href="#">Admin</a>
            {{ created_at }}

            <a href="" @click.prevent="likeIt">
                <span>{{ likeCount }}</span>
                <i class="fas fa-thumbs-up" v-if="likeCount > 0" style="color:#4d90fe"></i>
                <i class="fas fa-thumbs-up" v-else></i>
            </a>
        </p>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                likeCount:0
            }
        },
        props:[
            'title','subtitle','created_at','postid','login','likes','slug'
        ],
        created(){
            this.likeCount = this.likes
        },
        methods:{
            likeIt:function(){
                if(this.login){

                    // ajax request for data save to the database
                    axios.post('/saveLike', {
                        id: this.postid
                    })
                    .then(response => {
                        if(response.data == 'deleted'){
                            this.likeCount -= 1;
                        }else{
                            this.likeCount += 1;
                        }
                        console.log(response);           
                    })
                    .catch(function (error) {
                        //console.log(error);
                    });
                }else{
                    window.location = 'login';
                }
                
            }
        }
    }
</script>
